:root {
    --bg-clr: #282A2C;
    --btn-clr: #CD5334;
    --field-clr: #5C6672;
    --text-clr: #E6E6E6;
    --win-clr: #5FFF5A;
    --draw-clr: #FF5A5F;
    --tile-gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 16vh 4vh 4vh 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-clr);
    user-select: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    margin: 1.2rem 0rem;
}

.results-display {
    gap: var(--tile-gap);
}

.results {
    width: 8rem;
    height: 8rem;
    background-color: var(--text-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 4px;
}

.results-label {
    font-size: 1.2rem;
    font-weight: 600;
}

.numerical-display {
    font-size: 3rem;
    font-weight: 600;
}

.gameboard-display {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: var(--tile-gap);
}

.field {
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    transition: .1s ease-out all;
    border-radius: 4px;
    background-color: var(--field-clr);
    filter: brightness(60%);
    pointer-events: none;
}

.field:hover {
    background-color: var(--text-clr);
}

.field:hover::after {
    content: attr(data-symbol);
}

.active-tile {
    filter: brightness(100%);
    pointer-events: auto;
}

.winning-tiles {
    background-color: var(--win-clr);
}

.draw-tiles {
    background-color: var(--draw-clr);
}

.initialize-btn {
    width: 20rem;
    height: 4rem;
    background-color: gray;
    transition: .1s ease-out all;
    background-color: var(--btn-clr);
    border-radius: 4px;
    color: var(--bg-clr);
    font-size: 20px;
    font-weight: 600;
}

.initialize-btn:hover {
    filter: brightness(160%);
}

.initialize-btn:active {
    filter: brightness(100%);
}

button:hover {
    transform: scale(1.05);
}
button:active {
    transform: scale(1);
}

.footer {
    font-size: 1rem;
    color: var(--text-clr);
}

.fa-github-square {
    transition: transform 0.3s ease-in-out;
    color: var(--btn-clr);
    font-size: 2rem;
}

.fa-github-square:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
    color: var(--text-clr);
}