* {
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
    box-sizing: border-box;
}

header {
    height: 5rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initialize-btn-container {
    padding: 4rem;
}

.initialize-btn {
    width: 20rem;
    height: 4rem;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40rem;
}

.field {
    width: 12rem;
    height: 12rem;
    font-size: 4rem;
}

.winning-tiles {
    background-color: green;
}

.losing-tiles {
    background-color: red;
}